*{
  box-sizing: border-box;
  Padding: 0;
  Margin: 0;  
}
.app{
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: black;
}

