.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
  border-bottom: 2px solid #38bdf8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}
.logo {
  width: 100%;
  cursor: pointer;
}
.logo-wrapper {
width: 500px;
position: relative
}
.left-eye{
position: absolute;
top: 58%;
width: 6.8%;
background-size: contain;
border-radius: 50%;

}
.right-eye{
position: absolute;
top: 58%;
width: 6.8%;
background-size: contain;
border-radius: 50%;
}
.user-avatar {
  width: 120px;
  height: 120px;
  background-color: #38bdf8;
  border-radius: 50%;
}
.header-options {
  padding-top: 10px;
  flex: 1;
  height: 140px;
  display: flex;
  align-items: top;
  justify-content: space-evenly;
}
.option {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}
.add-new-card {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #175570;
  display: flex;
  align-items: center;
  justify-content: center;
 
}
